@using Team7ADProject.Models;
@{
    List<StationeryRequest> stationeryRequests = (List<StationeryRequest>)ViewData["stationeryRequests"];
}
<h4>Stationery Requests</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Requestor</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stationeryRequest in stationeryRequests)
        {          
        <tr>
            <td>@stationeryRequest.DepartmentStaff.Name</td>
            <td>@stationeryRequest.Date</td>
            <td>@stationeryRequest.Status</td>
            <td>
                @if (stationeryRequest.Remarks == null)
                {
                    <input type="text" class="form-control" id="remarks_@stationeryRequest.StationeryRequestId" />
                }
                else
                {
                    @stationeryRequest.Remarks
                }
            </td>
            <td>
                <a class="btn btn-default" href="/Department/StationeryRequestDetail/@stationeryRequest.StationeryRequestId">View</a>
                @if (stationeryRequest.Status == "Pending")
                {
                    <button class="btn btn-default" onclick="RejectApproveStationery(@stationeryRequest.StationeryRequestId)">Reject</button>
                    <button class="btn btn-default" onclick="RejectStationeryRequest(@stationeryRequest.StationeryRequestId)">Approve</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    function ApproveStationeryRequest(stationeryRequestId) {
        var remarks = $("#remarks_" + stationeryRequestId).val();
        $.ajax({
            url: "/Department/ApproveStationeryRequest",
            method: "POST",
            data: { stationeryRequestId: stationeryRequestId, remarks: remarks },
            success: function () {
                window.location.href = "/Department/HeadStationeryRequests";
            }
        });
    }
    function RejectStationeryRequest(stationeryRequestId) {
        var remarks = $("#remarks_" + stationeryRequestId).val();
        $.ajax({
            url: "/Department/RejectStationeryRequest",
            method: "POST",
            data: { stationeryRequestId: stationeryRequestId, remarks: remarks },
            success: function () {
                window.location.href = "/Department/HeadStationeryRequests";
            }
        });
    }
</script>