@using Team7ADProject.Models;
@{
    StationeryRequest stationeryRequest = (StationeryRequest)ViewData["stationeryRequest"];
    List<Stationery> stationeries = (List<Stationery>)ViewData["stationeries"];
    List<StationeryQuantity> stationeryQuantities = (List<StationeryQuantity>)ViewData["stationeryQuantities"];
}
<h4>Stationery Request Details</h4>
<table class="table table-hover">
    <tr>
        <th>Request Id</th>
        <td>@stationeryRequest.StationeryRequestId</td>
    </tr>
    <tr>
        <th>Request date</th>
        <td>@stationeryRequest.Date</td>
    </tr>
    <tr>
        <th>Remarks</th>
        <td>@stationeryRequest.Remarks</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@stationeryRequest.Status</td>
    </tr> 
</table>
<table class="table table-hover">
    <thead>
        <th>Category</th>
        <th>Description</th>
        <th>Quantity Requested</th>
        <th>Unit of Measure</th>
    </thead>
        <tbody>
            @foreach (var stationeryQuantity in stationeryRequest.StationeryQuantities)
             {
                <tr>
                    <td>@stationeryQuantity.Stationery.ItemNumber</td>
                    <td>@stationeryQuantity.Stationery.Category</td>
                    <td>@stationeryQuantity.Stationery.Description</td>
                    <td>@stationeryQuantity.Stationery.UnitOfMeasure</td>
                    <td>@stationeryQuantity.QuantityRequested</td>
                </tr>
             }
        </tbody>
</table>