@using Team7ADProject.Models;
@{
    List<Stationery> stationeries = (List<Stationery>)ViewData["stationeries"];
    List<StationeryRequest> stationeryRequests = (List<StationeryRequest>)ViewData["stationeryRequests"];
}

<h4>Stationery Request Details</h4>   

<table class="table table-hover">
    @foreach (var stationeryRequest in stationeryRequests)
    {
        <tr>
            <td>Request Id: </td>
            <td>@stationeryRequest.StationeryRequestId</td>
            <td>Request date: </td>
            <td>@stationeryRequest.Date</td>
        </tr>
        <tr>
            <td>Remark:  </td>
            <td>@stationeryRequest.Remarks</td>
            <td>Status: </td>
            <td>@stationeryRequest.Status</td>
        </tr>
    }
</table>

<table class="table table-hover">
    <thead>
    <th>Category</th>
    <th>Description</th>
    <th>Quantity Requested</th>
    <th>Unit of Measure</th>
    </thead>
    <tbody>
        @foreach (var stationery in stationeries)
        {          
            <tr>
                <td>@stationery.Category</td>
                <td>@stationery.Description</td>
                <td>@stationery.ItemNumber</td>
                <td>@stationery.UnitOfMeasure</td>
            </tr>
        }       
        </tbody>
</table>
