@using Team7ADProject.Models;
@{ 
    bool showSidebar = (bool)ViewData["showSidebar"];
    List<SidenavItem> sidenavItems = new List<SidenavItem>();
    if (showSidebar)
    {
        sidenavItems = (List<SidenavItem>)ViewData["sidenavItems"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stationery Store Inventory System - Logic University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default">
            <div class="navbar-header">
                <h4 style="margin: 10px">
                   @if (showSidebar) 
                        {
                           <button class="btn btn-default" id="sidebarCollapse">
                               <i class="fas fa-bars"></i>
                           </button>
                        }
                    Stationery Store Inventory System
                </h4>
            </div>
        </div>
    <div class="body-content">
        @if(showSidebar)
         {
            <nav id="sidebar" class="active">
                <div class="list-group">
                    @{ 
                        foreach (var sidenavItem in sidenavItems)
                        {
                            <a href="@sidenavItem.Url" class="list-group-item">@sidenavItem.Name</a>
                        }
                    }
                </div>
            </nav>
         }
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - SA49 Team 7</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://kit.fontawesome.com/bb4c325ded.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#sidebarCollapse').click(function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>
