@using Team7ADProject.Models;
@{ 
    List<SidenavItem> sidenavItems = (List<SidenavItem>)ViewData["sidenavItems"];
    User user = (User)ViewData["user"];
    string userType = "";
    if (user != null)
    {
        switch (user.UserType)
        {
            case "departmentStaff": userType = "Staff - " + ((DepartmentStaff) user).Department.Name; break;
            case "departmentHead": userType = "Head - " + ((DepartmentHead) user).Department.Name; break;
            case "storeClerk": userType = "Store Clerk"; break;
            case "storeSupervisor": userType = "Store Supervisor"; break;
        }
    }
    bool showSidebar;
    showSidebar = sidenavItems == null ? false : true;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Stationery Store Inventory System - Logic University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('#sidebarCollapse').click(function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <h4 style="margin: 10px">
               @if (showSidebar) 
                {
                   <button class="btn btn-default" id="sidebarCollapse">
                       <i class="fas fa-bars"></i>
                   </button>
                }
                Stationery Store Inventory System
            </h4>
        </div>
        @if (showSidebar)
        {
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
                @if (user != null)
                {
                    <li>
                        <a>Welcome @user.Name [@userType]</a>
                    </li>
                }
                <li><a href="/Home/Logout">Logout</a></li>
            </ul>
        }
    </div>
    <div class="body-content">
        @if(showSidebar)
         {
            <nav id="sidebar" class="active">
                <div class="list-group">
                    @{ 
                        foreach (var sidenavItem in sidenavItems)
                        {
                            <a href="@sidenavItem.Url" class="list-group-item">@sidenavItem.Name</a>
                        }
                    }
                </div>
            </nav>
         }
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer style="margin-left: 10px">
        <p>&copy; @DateTime.Now.Year - SA49 Team 7</p>
    </footer>
    <script src="https://kit.fontawesome.com/bb4c325ded.js" crossorigin="anonymous"></script>
</body>
</html>
