@using Team7ADProject.Models;
@{
    List<Stationery> stationeries = (List<Stationery>) ViewData["stationeries"];
}
<h4>
    Add Order
    <button class="btn btn-default" onclick="submitOrders()">Submit</button>
</h4>
<table class="table table-hover" id="stockList">
    <thead>
        <tr>
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Order Quantity</th>
            <th>Supplier</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var stationery in stationeries)
        {
            <tr>
                <td>@stationery.ItemNumber</td>
                <td>@stationery.Category.Name</td>
                <td>@stationery.Description</td>
                <td>@stationery.UnitOfMeasure.Name</td>
                <td><input type="number" class="form-control" style="width: 6em" id="qty_@stationery.StationeryId" /></td>
                <td><select class="form-control" id="sup_@stationery.StationeryId"></select></td>
                <td id="subtotal_@stationery.StationeryId"></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6" style="text-align: right">Total:</th>
            <th id="total"></th>
        </tr>
    </tfoot>
</table>
<script>
    var supplierPrices;
    var stationeryIds = [];
    $(function () {
        //$("#stockList").DataTable();
        $.ajax({
            url: "/Store/GetSupplierPrices",
            method: "GET",
            success: function (data) {
                populateSupplierPrices(data);
            }
        });
        @foreach(var stationery in stationeries)
        {
        <text>
            $("#qty_@stationery.StationeryId").on("keyup", function () {
                updateSubtotal(@stationery.StationeryId);
            })
            $("#sup_@stationery.StationeryId").on("change", function () {
                updateSubtotal(@stationery.StationeryId);
            })
            stationeryIds.push(@stationery.StationeryId);
        </text>
        }
    });
    function populateSupplierPrices(data) {
        supplierPrices = JSON.parse(data);
        supplierPrices.forEach(function (supplierPrice) {
            $("#sup_" + supplierPrice.Stationery.StationeryId).append("<option value=\"" +
                supplierPrice.Supplier.SupplierId + "\">" + supplierPrice.Supplier.Name +
                " - $" + supplierPrice.Price.toFixed(2) +  "</option>");
        });
    }
    function updateSubtotal(stationeryId) {
        var subtotal = $("#qty_" + stationeryId).val() * getPrice(stationeryId, $("#sup_" + stationeryId).val());
        subtotal = subtotal.toFixed(2);
        if (subtotal == 0 || subtotal == "") {
            $("#subtotal_" + stationeryId).html("");
        } else {
            $("#subtotal_" + stationeryId).html("$" + subtotal);
        }
        updateTotal();
    }
    function getPrice(stationeryId, supplierId) {
        for (var i = 0; i < supplierPrices.length; i++) {
            if (supplierPrices[i].Stationery.StationeryId == stationeryId && supplierPrices[i].Supplier.SupplierId == supplierId) {
                return supplierPrices[i].Price;
            }
        }
    }
    function updateTotal() {
        var total = 0;
        stationeryIds.forEach(function (stationeryId) {
            var add = $("#qty_" + stationeryId).val() * getPrice(stationeryId, $("#sup_" + stationeryId).val());
            if (!isNaN(add)) total += add;
        });
        $("#total").html("$" + total.toFixed(2));
    }
    function submitOrders() {
        var allOrders = [];
        stationeryIds.forEach(function (stationeryId) {
            if (isNaN($("#qty_" + stationeryId).val()) || $("#qty_" + stationeryId).val() == 0) return;
            allOrders.push({
                "stationeryId": stationeryId,
                "quantity": $("#qty_" + stationeryId).val(),
                "supplierId": $("#sup_" + stationeryId).val()
            });
        });
        console.log(JSON.stringify(allOrders));
        $.ajax({
            url: "/Store/SubmitOrders",
            method: "POST",
            data: { allOrdersJSON: JSON.stringify(allOrders) },
            success: function () {
                window.location.href = "/Store/Orders";
            }
        });
    }
</script>
