@using Team7ADProject.Models;
@{
    List<AdjustmentVoucher> adjustmentVouchers = (List<AdjustmentVoucher>)ViewData["adjustmentVouchers"];
}
<div id="main">
    <h4>
        Adjustment Vouchers
        <a class="btn btn-default" href="/Store/AddAdjustmentVoucher">Add</a>
    </h4>
</div>
    
<table class="table table-hover">
   <thead>
       <th>Item Number</th>
       <th>Item</th>
       <th>Quantity</th>
       <th>Reason</th>
       <th>Status</th>
       <th>Amount</th>
   </thead> 
    <tbody>
        @foreach (var adjustmentVoucher in adjustmentVouchers)
        {
            <tr>
                <td>@adjustmentVoucher.Stationery.ItemNumber</td>
                <td>@adjustmentVoucher.Stationery.Description</td>
                <td>@adjustmentVoucher.Quantity</td>
                <td>@adjustmentVoucher.Reason</td>
                <td>@adjustmentVoucher.Status</td>
                <td>*amount*</td>
            </tr>
        }
    </tbody>
</table>
