@using Team7ADProject.Models;
@{
    List<DepartmentRequest> departmentRequests = (List<DepartmentRequest>)ViewData["departmentRequests"];
}
<h4>Department Requests</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Department</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departmentRequest in departmentRequests)
        {
            <tr>
                <td>@departmentRequest.DepartmentRequestId</td>
                <td>@departmentRequest.Date</td>
                <td>@departmentRequest.Department.Name</td>
                <td>@departmentRequest.Status</td>
                <td>
                    <a class="btn btn-default" href="/Store/DepartmentRequestDetail/@departmentRequest.DepartmentRequestId">View</a>
                    @if (departmentRequest.Status == "Not Retrieved")
                    {
                        <button class="btn btn-default" onclick="addToRetrieval(@departmentRequest.DepartmentRequestId)">Add to Retrieval</button>
                    }
                    @if (departmentRequest.Status == "Retrieved")
                    {
                        <button class="btn btn-default" onclick="addToDisbursement(@departmentRequest.DepartmentRequestId)">Add to Disbursement</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function addToRetrieval(departmentRequestId) {
        $.ajax({
            url: "/Store/AddToRetrieval",
            method: "POST",
            data: { departmentRequestId: departmentRequestId },
            success: function () {
                window.location.href = "/Store/DepartmentRequests";        
            }
        });
    }

        function addToDisbursement(departmentRequestId) {
        $.ajax({
            url: "/Store/AddToDisbursement",
            method: "POST",
            data: { departmentRequestId: departmentRequestId },
            success: function () {
                window.location.href = "/Store/DepartmentRequests";
            }
        });
    }
</script>
