@using Team7ADProject.Models;
@{

    DepartmentRequest departmentRequest = (DepartmentRequest)ViewData["departmentRequest"];
    List<StationeryQuantity> stationeryQuantities = (List<StationeryQuantity>)ViewData["stationeryQuantities"];
    List<Stationery> stationeries = (List<Stationery>)ViewData["stationeries"];
    List<StationeryRequest> stationeryRequests = (List<StationeryRequest>)ViewData["stationeryRequests"];
}
<h4>Department Request Detail</h4>
<table class="table table-hover">
    <tr>
        <th>Request Id</th>
        <td>@departmentRequest.DepartmentRequestId</td>
    </tr>
    <tr>
        <th>Request Department</th>
        <td>@departmentRequest.Department.Name</td>
    </tr>
    <tr>
        <th>Request Date</th>
        <td>@departmentRequest.Date</td>
    </tr>
    <tr>
        <th>Remarks</th>
        <td>@departmentRequest.Remarks</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@departmentRequest.Status</td>
    </tr>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Quantity Requested</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stationeryRequest in departmentRequest.StationeryRequests)
        {
            foreach (var stationeryQuantity in stationeryRequest.StationeryQuantities)
            {
                <tr>
                    <td>@stationeryQuantity.Stationery.ItemNumber</td>
                    <td>@stationeryQuantity.Stationery.Category</td>
                    <td>@stationeryQuantity.Stationery.Description</td>
                    <td>@stationeryQuantity.Stationery.UnitOfMeasure</td>
                    <td>@stationeryQuantity.QuantityRequested</td>
                </tr>
            }
        }
    </tbody>
</table>


