@using Team7ADProject.Models;
@{
    DisbursementList disbursementList = (DisbursementList)ViewData["disbursementList"];
    List<StationeryQuantity> stationeryQuantities = (List<StationeryQuantity>)ViewData["stationeryQuantities"];
}
<h4>
    Disbursement List
    <btn class="btn btn-default" onclick="markAsDisbursed(@disbursementList.DisbursementListId)">Mark as Disbursed</btn>
</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departmentRequest in disbursementList.DepartmentRequests)
        {
            <tr>
                <td>@departmentRequest.DepartmentRequestId</td>
                <td>@departmentRequest.Date</td>
                <td>@departmentRequest.Department.Name</td>
                <td>
                    <a class="btn btn-default" href="/Store/DepartmentRequestDetail/@departmentRequest.DepartmentRequestId">View</a>
                    <button class="btn btn-default" onclick="removeDisbursement(@departmentRequest.DepartmentRequestId)">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Quantity Requested</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stationeryQuantity in stationeryQuantities)
        {
            <tr>
                <td>@stationeryQuantity.Stationery.ItemNumber</td>
                <td>@stationeryQuantity.Stationery.Category.Name</td>
                <td>@stationeryQuantity.Stationery.Description</td>
                <td>@stationeryQuantity.Stationery.UnitOfMeasure.Name</td>
                <td>@stationeryQuantity.QuantityRequested</td>
            </tr>
        }
    </tbody>
</table>
<script>
    function removeDisbursement(departmentRequestId) {
        $.ajax({
            url: "/Store/RemoveDisbursement",
            method: "POST",
            data: { departmentRequestId: departmentRequestId },
            success: function () {
                window.location.href = "/Store/DisbursementList";
            }
        });
    }
    function markAsDisbursed() {
        $.ajax({
            url: "/Store/MarkAsDisbursed",
            method: "POST",
            success: function () {
                window.location.href = "/Store/DepartmentRequests";
            }
        });
    }
</script>