@using Team7ADProject.Models;
@{
    RetrievalList retrievalList = (RetrievalList) ViewData["retrievalList"];
    List<StationeryQuantity> stationeryQuantities = (List<StationeryQuantity>)ViewData["stationeryQuantities"];
    Dictionary<int, int> stationeryStockLevels = (Dictionary<int, int>)ViewData["stationeryStockLevels"];
}
<h4>
    Retrieval List
    @if(retrievalList.DepartmentRequests.Count > 0)
    {
        <btn class="btn btn-default" onclick="updateRetrieval()">Update</btn>
    }
</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var departmentRequest in retrievalList.DepartmentRequests)
        {
            <tr>
                <td>@departmentRequest.DepartmentRequestId</td>
                <td>@departmentRequest.Date</td>
                <td>@departmentRequest.Department.Name</td>
                <td>
                   <button class="btn btn-default" onclick="removeFromRetrieval(@departmentRequest.DepartmentRequestId)">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Quantity Requested</th>
            <th>Quantity Retrieved</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var stationeryQuantity in stationeryQuantities)
        {
            <tr>
                <td>@stationeryQuantity.Stationery.ItemNumber</td>
                <td>@stationeryQuantity.Stationery.Category.Name</td>
                <td>@stationeryQuantity.Stationery.Description</td>
                <td>@stationeryQuantity.Stationery.UnitOfMeasure.Name</td>
                <td id="qtyreq_@stationeryQuantity.Stationery.StationeryId">@stationeryQuantity.QuantityRequested</td>
                <td>
                    @if(stationeryStockLevels[stationeryQuantity.Stationery.StationeryId] > stationeryQuantity.QuantityRequested) 
                    {
                        <input type="number" class="form-control" style="width: 6em" 
                           id="qty_@stationeryQuantity.Stationery.StationeryId"
                           value="@stationeryQuantity.QuantityRequested"/>
                    } else
                    {
                        <input type="number" class="form-control" style="width: 6em" 
                           id="qty_@stationeryQuantity.Stationery.StationeryId"
                           value="@stationeryStockLevels[stationeryQuantity.Stationery.StationeryId]"/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var stationeryIds = [];
    @foreach(var stationeryQuantity in stationeryQuantities)
    {
        <text>
            stationeryIds.push(@stationeryQuantity.Stationery.StationeryId);
        </text>
    }
    function updateRetrieval() {
        var stationeryQuantities = [];
        var qtyExceeded = false;
        stationeryIds.forEach(function (id) {
            if ($("#qty_" + id).val() == "" || $("#qty_" + id).val() == 0) return;
            if (parseInt($("#qty_" + id).val()) > parseInt($("#qtyreq_" + id).html())) {
                qtyExceeded = true;
            }
            stationeryQuantities.push({
                "stationeryId": id,
                "quantityRetrieved": $("#qty_" + id).val()
            });
        });
        if (qtyExceeded) {
            alert("Quantity retrieved cannot be more than quantity requested");
            return;
        }
        $.ajax({
            url: "updateRetrieval",
            method: "POST",
            data: {
                stationeryQuantitiesJSON: JSON.stringify(stationeryQuantities)
            },
            success: function (data) {
                var res = JSON.parse(data);
                if (res.success) {
                    window.location.href = "/Store/DepartmentRequests";
                } else {
                    alert("Insufficient stock");
                }
            }
        });
    }
    function removeFromRetrieval(departmentRequestId) {
    $.ajax({
        url: "/Store/RemoveFromRetrieval",
        method: "POST",
        data: { departmentRequestId: departmentRequestId },
        success: function () {
                window.location.href = "/Store/RetrievalList";
            }
        });
    }
</script>
