@using Team7ADProject.Models;
@{
    RetrievalList retrievalList = (RetrievalList) ViewData["retrievalList"];
    List<StationeryQuantity> stationeryQuantities = (List<StationeryQuantity>)ViewData["stationeryQuantities"];
}
<h4>
    Retrieval List
    <btn class="btn btn-default">Mark as Retrieved</btn>
</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var departmentRequest in retrievalList.DepartmentRequests)
        {
            <tr>
                <td>@departmentRequest.DepartmentRequestId</td>
                <td>@departmentRequest.Date</td>
                <td>@departmentRequest.Department.Name</td>
                <td>
                   <button class="btn btn-default" onclick="removeFromRetrieval(@departmentRequest.DepartmentRequestId)">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item Number</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Quantity Requested</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var stationeryQuantity in stationeryQuantities)
        {
            <tr>
                <td>@stationeryQuantity.Stationery.ItemNumber</td>
                <td>@stationeryQuantity.Stationery.Category.Name</td>
                <td>@stationeryQuantity.Stationery.Description</td>
                <td>@stationeryQuantity.Stationery.UnitOfMeasure.Name</td>
                <td>@stationeryQuantity.QuantityRequested</td>
            </tr>
        }
    </tbody>
</table>
<script>
    function removeFromRetrieval(departmentRequestId) {
        $.ajax({
            url: "/Store/RemoveFromRetrieval",
            method: "POST",
            data: { departmentRequestId: departmentRequestId },
            success: function () {
                $(departmentRequestId).remove();
            window.location.reload();
            }
        });
    } 
</script>
