@using Team7ADProject.Models;

@{
    Stationery stationery = (Stationery) ViewData["stationery"];
}
<h4>Stock Detail</h4>
<table class="table table-hover">

    <tr>
        <th>Item Number</th>
        <td>@stationery.ItemNumber</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@stationery.Category.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@stationery.Description</td>
    </tr>
    <tr>
        <th>Unit of Measure</th>
        <td>@stationery.UnitOfMeasure.Name</td>
    </tr>
    <tr>
        <th>Quantity in Stock</th>
        <td>@stationery.QuantityInStock</td>
    </tr>
</table>
